<html>
  <head>
    <title>hello plume-starter</title>
    <meta charset="utf-8">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <style>html, body { margin: 0; padding: 0; }</style>

  </head>
  <body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.dev) { %>
  <script src="/webpack-dev-server.js"></script>
  <% } else { %>
  <script src="vendor.dll.js"></script>
  <% } %>
  </body>
</html>